/*Below Camille
*/textarea{
	color: #84714F;
	border-width: 1px;
    border-color: #84714F;
    background-color: transparent;
    color: #fff;
    line-height: 1em;
    padding: .75em;
    height: auto;
    box-shadow: none;
    z-index: 2;
}

input {
	padding: 10px;
	font-family: "Roboto Condensed", sans-serif;
	border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #84714F;
    align-content: center;
    position: static;
}

/*----------------------------------------------------
*/.content{
    margin: auto;
 	text-align: center;
   	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	font-family: "Roboto Condensed", sans-serif;
	min-width: 400px;
	min-height: max-content;
}

body {
	margin: 0px;
	flex-wrap: wrap;
}

h3 {
	text-align: center;
}

.nav {
	width: 100%;
	height: 100%;
	margin: none;
    cursor: pointer;
}

.nav a, .logo {
	border: none;
    color: white;
    padding: 20px 32px 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: black;
    align-content: center;
    position: static;
    float: left;
}

h4 {
	border: none;
    color: white;
    padding: 20px 32px 5px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    color: black;
    align-content: center;
    position: static;
    float: right;
}

.bar {
	width: 100%;
	height: 100%;
	background-color: #84714F;
	position: static;
    display: inline;
    margin: 10px 0px;
}

.bar h1{
	height: 100%;
		height: 100%;

	text-align: left;
	align-content: left;
	font-size: 35px;
	padding: 0px 0px 0px 20px;
	color: white;
	border: none;
    color: none;
    text-decoration: none;
    align-content: left;
    position: static;
    float: left;
    display: inline;
    margin: 8px 0px 0px 0px;
}

/*-------------------------------------------------*/

.middle {
	width: 100%;
	max-height: 100%;
	padding: 0px 10px 20px 0px;
	text-align: left;
}

fieldset{
	min-width: 200px;
	max-width: 350px;
	height: 225px;
	align-content: center;
	text-align: center;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 25px;
	color: #84714F;
	float: right;
	padding: 0px 20px 50px 0px;
}

.left{
	width:50%;
}

.boxythingy {
	width: 100%;
	height: 100%;
	float: left;
	align-content: left;
	padding: 0px 20px;

} 

/*boythingy was added to compartmentalize images
*/
.box {
	width: 100px;
	height: 125px;
	display: inline-block;
	padding: 15px 20px 20px 0px;
	text-align: center;
	align-content: left;
}

.box img{
	width: 75px;
	height: 85px;
	cursor: pointer;
}

.box h5{
	border: none;
    color: white;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: grey;
    align-content: center;
    position: static;
    float: right;
    margin: 0px;
}

/*--------------------------------*/
.bottom {
	width: 100%;
	height: 100px;
	background-color: #84714F;
}

/*.fa-stack fa-lg{
	width: 100%;
	height: 100px;
	background-color: #84714F;
	color: white;
  	align-content: center;
	position: center;
	font-size: 25px;
  	color: white;
}*/

.bottom h1 {
	border: none;
    color: white;
    padding: 50px 32px 5px 20px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    position: static;
    float: right;
   	font-family: "Roboto Condensed", sans-serif;
}

/*------------SecondBox----------*/
.secondBox {
	width: 100%;
	min-height: 450px;
	max-height: 100%;
	align-content: center;
	text-align: center;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 25px;
	padding: 100px;
	border: 20px;
	background-color: #84714F;
}

#Information {
	background-color: white;
}

/*Above is Camille*/