fieldset{
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
	align-content: center;
}





/*----------------------------------------------------
*/.content{
    margin: auto;
 	text-align: center;
   	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	font-family: "Roboto Condensed", sans-serif;
	min-width: 400px;
	min-height: max-content;
}

body {
	margin: 0px;
	flex-wrap: wrap;
}

h3 {
	text-align: center;
}

.nav {
	width: 100%;
	height: 50px;
	margin: none;
    cursor: pointer;
}

.nav a, .logo {
	border: none;
    color: white;
    padding: 20px 32px 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: black;
    align-content: center;
    position: static;
    float: left;
}

h4 {
	border: none;
    color: white;
    padding: 20px 32px 5px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    color: black;
    align-content: center;
    position: static;
    float: right;
}

.bar h1{
	min-width: 400px;
	max-width: 600px;
	height: 50px;
	text-align: left;
	align-content: left;
	font-size: 45px;
	background-color: #84714F;
	position: static;
	padding: 0px 0px 0px 20px;
	color: white;
	border: none;
    color: none;
    text-decoration: none;
    align-content: left;
    position: static;
    float: left;
    display: inline;
}

/*-------------------------------------------------*/
.middle {
	width: 100%;
	max-height: 100%;
	float: left;
	padding: 0px;
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
	padding: 0px 20px 20px 0px;
	text-align: center;
	border-color: black;
	border-width: 20px;
}

.box img{
	width: 75px;
	height: 85px;
	cursor: pointer;
}

/*--------------------------------*/
.bottom {
	width: 100%;
	height: 100px;
	font-size: 8px;
	background-color: #84714F;
	padding: 0;
	color: white;
}

.material-icons {
	align-content: center;

	font-size:12px
<<<<<<< HEAD
}
/*--------------------------------*/
#welcomescreen {
  margin: 0;
  width: 100%;
  height: max-content;
}
#welcomescreen img{
background-image: url("https://images.unsplash.com/photo-1470163395405-d2b80e7450ed?dpr=1.25&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");

}
#loginbutton {
  background-color: #00ff0a;
  border: none;
  color: white;
  width: 350px;
  height: 80px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 52px;
  border-radius: 8px;
  transition-duration: 0.8;
}
#loginbutton:hover{
  background-color: #00ff0a;
  color: #0b8317;
  opacity: .9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#popup {
  align-content: center;
  height:50vh;
  width:50vw;
  background-color: #56ec30;
  display:none;
}
#login {

}
.loginForm {

}
#register {

}
.registerForm {

}














/*--------------------------------*/

}

/*.fa fa-facebook-official{
	position: center;
	 width: 28px;
  height: 28px;
  background-size: 938px 318px;
  background-position: -624px -48px;
}*/

.content .fa fa-facebook-official h4{
	align-content: center;
	position: center;
	width: 100px;
  	height: 50px;
  	padding: 10px 0px;
  	align-content: center;
/*  	font-size: 40px*/;

  /*background-size: 938px 318px;
  background-position: -624px -48px;*/
}
